.cats-page-header{
    width: calc(100% - 10px);
    height: 40px;
    background-color: var(--color-0);
    padding: 5px;
    display: flex;
    border-bottom: solid 1px var(--secundary-4);
}

.cats-page-header-title{
    flex: 1;
    font-size: 18px;
    color: var(--font-color-2);
    font-family: Nekst-Medium;
    line-height: 38px;
    padding-left: 20px;
}

.cats-page-execute{
    width: 300px;
    margin-left: 20px;
}

input.cats-page-input{
    text-transform: uppercase;
}

.cats-page-response{
    font-size: 16px;
    color: var(--font-color-2);
    font-family: Nekst-Light;
    display: block;
    margin: 10px 20px 0px 20px;
    overflow-x: auto;
    border-top: solid 1px var(--button-border-cancel-color);
    padding-top: 10px;
}

.cats-page-response-title{
    font-family: Nekst-Medium;
}

.cats-page-response-image{
    width: 240px;
    height: auto;
    margin: 10px 0px 25px 20px;
    border-radius: 5px;
}

.cats-popup-header-icon{
    margin: 3px 10px 7px 0px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    cursor: pointer;
}